/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#body {
  margin: 0;
  width: 100%;
  height: auto;
  text-align: center;
}

body {
  margin: 0;
}

#root{
  display: flex;
  flex-direction: column;
  text-align: center;
}
#root .wit-picture {
  width: 150px;
  height: 100px;
}

/* #app {
  display: flex;
  flex-direction: column;
  text-align: center;
} */

/* #app .wit-picture {
  width: 150px;
  height: 100px;
} */

.app-navbar {
  width: 100%;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + main {
  padding-top: 102px;
}

.app-navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.app-navbar li {
  float: left;
}

.app-navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  /*font-family: "system-ui, -apple-system ", sans-serif;*/
  /*font-family: "Avenir Next bold", sans-serif;*/
}

.app-navbar li a:hover:not(.active) {
  background-color: #111;
}

main {
  margin-top: 140px;
  overflow: auto;
  max-height: calc(100vh - 140px);
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
}

.wit-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

span {
  text-transform: capitalize;
}

.formation-container {
  margin: 30px auto;
  width: 80%;
  background: white;
  border-radius: 8px;
  padding: 0.31em 0.937em;
  font-family: "Avenir Next bold", sans-serif;
  color: #383D44;
  font-size: calc(12px + 0.4vw);
  text-align: center;
  box-shadow: 0 0 30px 0 rgba(160, 160, 160, 0.6);
}

@media screen and (max-width: 360px){
  .app-navbar ul{
      /*background-color: #FFA500;*/
  }

}
